.body{
    margin: 0;
    padding: 0; 
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    p {

        font-size: 50px;
    }
    
.logo {
display: flex;
justify-content: center;
background-color: white;
}

.menu {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: space-around;

    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
   }

   .menu-item {
     color: rgb(129, 57, 8);
     text-decoration: none;
     margin: 5em;
     display: block;
   padding:0;
   }

   .menu-item:hover {
     color:rgb(75, 36, 4);
  }
   .foto {
    margin-left: 450px;
   }
   

   .contacts {
    display: flex;
    justify-content: center;
   }

   .dostavka {
    display: flex;
    justify-content: center;
   }

.menures {
  display: flex;
  justify-content: center;

  
}

.res {
  margin: 50px;
  margin-top: -85%;
}

.price {
  color:green;
}

.list {
  

}
.list-item {
  color: violet;

}

.res1 {
  margin: 50px;

}

img{
  border-radius:30px;
 }